.temp14 {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: none;
  border-radius: 20px;
}
/* Header */
.header-card-temp14 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}
.arrow-left,
.menu-btn {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

/* Body  */
.group-14 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-frame {
  position: relative;
  background: linear-gradient(
    to right,
    rgba(255, 238, 238, 0.9),
    rgba(220, 240, 182, 0.9)
  );
  opacity: 0.5;
  border-radius: 50%;
  max-width: 180px;
  height: 180px;
  width: 100%;
}

.mask-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -60%);
  z-index: 10;
}

.mask-group img {
  max-width: 79.16px;
  max-height: 271.82px;
  width: 75%;
}
/* Main */
.main-card-temp14 {
  display: flex;
  flex-direction: column;
  padding-top: 0.3rem;
}
.main-card-temp14 h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.main-card-temp14 h6 {
  color: black;
  margin: 0;
  padding: 0;
  color: #e50757;
  font-size: calc(12px + 0.9vmin);
  padding-left: 1rem;
}
.text-main-card-temp14 {
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: black;
  margin: 0 !important;
  font-size: calc(14px + 1vmin);
  font-weight: 700;
}
.content-main-card-temp14 {
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: calc(10px + 0.7vmin);
}

/* Footer */

.card-footer-temp14 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 12px;
  gap: 10px;
}
.frame-footer-temp14 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f3f3f3;
  border-radius: 30px;
  max-width: 160px;
  max-height: 40px;
  height: 30%;
  width: 55%;
  gap: 8px;
}
.btn-frame-temp14 {
  border: none;
  font-size: 30px;
  max-height: 30px;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 50%;
  max-width: 34px;
  width: 23%;
  color: black;
  background-color: #f3f3f3;
  cursor: pointer;
  flex-direction: column-reverse;
}

.btn2-frame-temp14 {
  border: none;
  font-size: 30px;
  max-height: 30px;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  max-width: 34px;
  width: 23%;
  color: black;
  background-color: #fff;
  cursor: pointer;
}
.price-footer-temp14 {
  line-height: 23px;
  letter-spacing: 0.5px;
  font-size: calc(15px + 1vmin);
  color: black;
  font-weight: 600;
}
