.temp3 {
  border: none;
  background-color: #fff;
  border-radius: 20px;
}
.card-wrapper3 {
  display: flex;
  flex-direction: column;
}
.card-body-temp3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 21px;
  justify-content: flex-start;
  padding: 15px;
}
.card-temp3-media {
  display: flex;
  flex-direction: column;
}

.card-temp3-media h1 {
  color: black;
  margin: 0 !important;
  font-size: calc(8px + 0.8vmin);
  text-align: start;
  font-weight: 700;
}

.card-media-temp3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 7px;
  gap: 35px;
}

.card-temp3-media h2 {
  margin: 0 !important;
  font-size: calc(8px + 0.5vmin);
  text-align: start;
  font-weight: 400;
  color: #9b9999;
}
.card-wrapper3 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-avatar-temp3 img {
  width: calc(14vw);
  height: calc(14vw);
  max-width: 55px;
  max-height: 55px;
  object-fit: cover;
}
.card-option-temp3 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  width: 10px;
}
.card-option-temp3 svg {
  width: calc(2vw);
  height: calc(2vw);
  max-width: 4px;
  max-height: 4px;
  object-fit: cover;
}
